<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Smart Citizen</title>
</head>

<body>
  <h1 style="color: green">Welcome!</h1>
  <p>This is the API endpoint of our capstone project, Smart Citizen App!

      Available APIs:
      <ul>
      <li>POST https://capstone-classifier.herokuapp.com/predict  Parameters: text_query</li>
      <li>GET  https://capstone-classifier.herokuapp.com/get-vaccine-details Parameters: district_id</li>
      <li>GET  https://capstone-classifier.herokuapp.com/get-clusters</li>
      <li>GET  https://capstone-classifier.herokuapp.com/cases-update</li>
      </ul>
</p>
</body>

</html>
